
.conteudo{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 100px;
}


 
 

 

 .teste{
    display:flex;
 }



.recomendados{
    background-color: blue;
}

