.lateral2{
    border-left: 1px solid #EBEDEF; 
}
.lateral2 .new-desc1{
    font-family:"Encode Sans", sans-serif;
    font-size: 14px;
    font-weight: 500;
    color:  #EC8006;
    margin-top: 2px;

 }
 .lateral2 .new-desc2{
    font-family:"Encode Sans", sans-serif;
    color: #2F3134;
    font-size: 20px;
    font-weight: 700;
    width: 240px;
    margin-bottom: 10px;
    margin-top: 0;
    letter-spacing: -1.0px;
 }
 .lateral2 .new-desc3{
    
    font-family:"Encode Sans", sans-serif;
    font-size: 14px;
    color: #2F3134;
    font-weight: 400;
    margin-top: 0;
    width: 217px;
    margin-bottom: 10px;
    
 }