.topo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}
    .links {
        border-bottom: 1px solid #EBEDEF; 
        border-top: 1px solid#EBEDEF;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        padding-left: 30px;
        padding-right: 30px;
        margin-left: 90px;
        margin-right: 90px;
        width: 80%;

       
    }
.main-links{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

 

    .topo-titulo {
        font-size: 19px;
        font-family: "Encode Sans", sans-serif;

    }

    .topo-titulo.-var1{
        color: #C3170C;
        ;
    }

    .topo-titulo.-var2{
        color:#1E4B9B;
    }

    .topo-titulo.-var3{
        color: #006766;
    }

    .topo-titulo.-var4{
        color: #07AA47;
    }

    .topo-titulo.-var5{
        color: #E3662B;
    }
    .topo-titulo.-var6{
      color: #FB0735;
    }

    .topo-titulo.-var7{
        color: #FF75BB;
    }

    .topo-titulo.-var8{
        color: #EC7D00;
    }

    .topo-titulo.-var9{
        color: #323333;
    }

    .topo-titulo.-var10{
        color:#A81D83 ;
    }